In [1]:
import pandas as pd

In [23]:
data = pd.read_excel('./data/Sales.xlsx',sheet_name='Orders')
data.head()

,Row ID,Order ID,Order Date,Ship Date,Delivery Duration,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Discount Value,Profit,COGS
0,1,CA-2016-152156,2016-11-08,2016-11-11,3,Second Class,CG-12520,Claire Gute,Consumer,United States,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,0.000000,41.9136,-220.046400
1,2,CA-2016-152156,2016-11-08,2016-11-11,3,Second Class,CG-12520,Claire Gute,Consumer,United States,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,0.000000,219.5820,-512.358000
2,3,CA-2016-138688,2016-06-12,2016-06-16,4,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,0.000000,6.8714,-7.748600
3,4,US-2015-108966,2015-10-11,2015-10-18,7,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-430.909875,-383.0310,-909.698625
4,5,US-2015-108966,2015-10-11,2015-10-18,7,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,-4.473600,2.5164,-15.378000

In [4]:
data.describe()

,Row ID,Order Date,Ship Date,Delivery Duration,Postal Code,Sales,Quantity,Discount,Discount Value,Profit,COGS
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355648,2016-05-03 23:06:58.571142912,3.958175,55190.379428,229.858001,3.789574,0.156203,-32.277580,28.656896,-168.923525
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,0.000000,1040.000000,0.444000,1.000000,0.000000,-11319.240000,-6599.978000,-13130.318400
25%,2499.250000,2015-05-23 00:00:00,2015-05-27 00:00:00,3.000000,23223.000000,17.280000,2.000000,0.000000,-14.870400,1.728750,-155.028600
50%,4997.500000,2016-06-26 00:00:00,2016-06-29 00:00:00,4.000000,56430.500000,54.490000,3.000000,0.200000,-1.036800,8.666500,-35.693200
75%,7495.750000,2017-05-14 00:00:00,2017-05-18 00:00:00,5.000000,90008.000000,209.940000,5.000000,0.200000,0.000000,29.364000,-10.574300
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,7.000000,99301.000000,22638.480000,14.000000,0.800000,0.000000,8399.976000,-0.554400
std,2885.163629,NaN,NaN,1.747567,32063.693350,623.245101,2.225110,0.206452,164.025577,234.260108,430.869751

In [13]:
missing_value_columns_count = (data.isnull().sum())
missing_value_columns_count[missing_value_columns_count > 0]

Series([], dtype: int64)

In [20]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Delivery Duration',
       'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country',
       'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Discount Value', 'Profit', 'COGS'],
      dtype='object')

In [24]:
y = data['Profit']
y.head()
X = data
X.drop(columns=['Profit','COGS'], axis=1, inplace=True)
X.head()

,Row ID,Order ID,Order Date,Ship Date,Delivery Duration,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Discount Value
0,1,CA-2016-152156,2016-11-08,2016-11-11,3,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,0.000000
1,2,CA-2016-152156,2016-11-08,2016-11-11,3,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,0.000000
2,3,CA-2016-138688,2016-06-12,2016-06-16,4,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,0.000000
3,4,US-2015-108966,2015-10-11,2015-10-18,7,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-430.909875
4,5,US-2015-108966,2015-10-11,2015-10-18,7,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,-4.473600

In [25]:
categorical_columns = [col for col in X.columns if X[col].dtype=='object']
categorical_columns

['Order ID',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name']

In [28]:
numerical_columns = set(X.columns) - set(categorical_columns)
numerical_columns

{'Delivery Duration',
 'Discount',
 'Discount Value',
 'Order Date',
 'Postal Code',
 'Quantity',
 'Row ID',
 'Sales',
 'Ship Date'}